body {
    background-image: url("https://media3.giphy.com/media/UIkdSRPx5Yb9m/giphy.gif");
    box-shadow: 0 0 5px 2px #282a2d;
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-color: #010108;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.form {
    width:100%;
    align-items: left;
    margin-right:20px ;
}

.input {
    padding: 10px;

}

input{
    padding:20px;
    width:40%;
    background-color: rgb(3, 7, 22);
    color:white;
    border: 1px solid rgb(0, 162, 255);
}

.btn {
    padding: 15px;
    width: 20%;
    background-color:#028AB5;
    border:none;
    color: black;
    font-weight: bold;
    font-size: large;
}